/*
* Style Works for Editor Only
*/
.packages-list-wrapper {
	.single-list {
		border: 1px solid #949494;
		padding: 8px;
		.dashicons-trash {
			color: #dd0c0c;
		}
	}

	.single-list + .single-list {
		margin-top: 10px;
	}
}

// editor
.wp-block-ppb-packages-picker {
	button.components-button.icon-picker__btn {
		margin: 0;
		padding: 0;
		height: auto !important;
		width: auto !important;
		border: none !important;
	}
	button.components-button.add-feature-btn {
		margin-top: 15px;
	}
}

button.icon-picker__btn {
	width: 35px;
	border: 1px solid #c6c6c6;
	background: none;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 35px;
	cursor: pointer;
}

.ppb-icon-picker__panel {
	display: flex;
	background: #fff;
	padding: 5px;
	gap: 5px;
}

button.icon-picker__btn svg {
	width: 16px;
}

.package-list-wrapper {
	width: 300px;

	li.package-list {
		padding: 10px;
		list-style: none;
		margin: 0;
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		transition: 0.2s;
	}

	.package-list + .package-list {
		border-top: 1px solid #e2e2e2;
	}

	li.package-list:hover {
		background: #ddd;
	}
}
